body,
html {
  margin: 0;
  padding: 0;
  max-width: 100vw;
  max-height: 100vh;
}
.flavor {
  position: fixed;
  bottom: 90px;
  left: 70px;
  transform: translateX(-50px);
  font-family: "Comic Sans MS", arial;
  font-size: 36px;
  color: greenyellow;
}
.tada:hover {
  cursor: pointer;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.earth {
  animation: spin 4s infinite;
}
